In [2]:
import numpy as np
import pandas as pd
humidity=pd.read_csv("humidity copy.csv",index_col="Time")

In [3]:
list1=[]
x=""
for i in list(humidity["RelativeHumidity"]):
    if i >=20 and i<32:
        x="20-32"
    elif i>32 and i<55:
        x="32-55"
    elif i>55 and i<80:
        x="55-80"
    elif i>80 and i<95:
        x="80-95"
    list1.append(x)
humidity["range"]=list1
humidity

      RelativeHumidity  Temperature  Resistance  range
Time
0               20.000      25.0000     1700.00  20-32
1               20.124      25.0083     1686.12  20-32
2               20.248      25.0166     1672.24  20-32
3               20.372      25.0249     1658.36  20-32
4               20.496      25.0332     1644.48  20-32
...                ...          ...         ...    ...
598             94.400      29.9800      200.00  80-95
599             94.524      29.9883      200.00  80-95
600             94.648      29.9966      200.00  80-95
601             94.772      30.0049      200.00  80-95
602             94.896      30.0132      200.00  80-95

[605 rows x 4 columns]

In [4]:
humidity.to_csv("range.csv")